  @font-face {
    font-family: "Montserrat Regular";
    src: url("font/Montserrat-Regular.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Montserrat Bold";
    src: url("font/Montserrat-Bold.ttf");
    font-weight: bold;
  }

  @font-face {
    font-family: "Montserrat Black";
    src: url("font/Montserrat-Black.ttf");
    font-weight: bold;
  }

  @font-face {
    font-family: "Montserrat Light";
    src: url("font/Montserrat-Light.ttf");
    font-weight: normal;
  }

  body {
    color: black;
    background-color: white;
    font-family: "Montserrat Light", serif;
  }

  h1 {
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: "Montserrat Bold", serif;
    width: fit-content;
    padding: 5px 15px;
  }

  h2 {
    font-family: "Montserrat Regular", serif;
  }

  h3 {
    background-color: black;
    color: white;
    font-family: "Montserrat Bold", serif;
    width: fit-content;
    padding: 3px 7px;
  }

  div {
    border: 5px solid black;
    width: 725px;
    padding: 0px 15px;
  }

  ol {
    border-left: 5px solid black;
    border-right: 5px solid black;
    width: fit-content;
    padding-right: 25px;
  }

  hr {
    height: 30px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    width: 725px;
  }

